body {
  font-size: normal;
}

form {
  margin: 20px 8%;
}

.uk-alert {
  display: none;
}

#agreement-text {
  border: black 1.5px solid;
  border-radius: 10px;
  /*font-size: 0.6em;*/
  height: 70px;
/*  width: 90%;*/
  padding: 15px 5%;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
}


